.post * {
	image-rendering: pixelated;
	margin: 0;
}

.post a {
	color: greenYellow;
	transition: 0.25s color ease-in;
}

.post a:active {
	color: oliveDrab;
}

.post a:visited {
	color: orange;
}

.post a:visited:active {
	color: darkOrange;
}

.post a:disabled {
	color: rosyBrown;
}

.post blockquote {
	border-left: 0.05ch solid lightGray;
	display: inline-block;
	font-weight: light;
	margin-left: 0.6ch;
	padding-left: 0.6ch;
	position: relative;
}

.post blockquote::selection, .post blockquote *:not(code):not(th)::selection {
	background-color: #8008;
	color: white;
}

.post code {
	background: lightGray;
	border-radius: 0.05ch;
	box-shadow: 1px 1px 0 1px #0008;
	color: black;
	cursor: copy;
	display: inline-block;
	padding: 0.075ch;
	transition: 0.5s background, color ease-out;
}

.post code::selection {
	background: #8008;
	color: white;
}

.post code:hover {
	background: #202020;
	color: lime;
}

.post code:hover::selection, .post code:hover:active {
	background: lime;
	color: #202020;
	cursor: text;
}

.post code:hover:active::selection {
	background: #202020;
	color: lime;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	font-family: Georgia, serif;
}

.post li {
	cursor: copy;
	transition: 0.75s color, ease-out;
}

.post li:hover {
	color: white;
}

.post li:active {
	cursor: text;
}

.post table {
	border-collapse: collapse;
	box-shadow: 0 0.2ch 0.25ch -0.2ch black;
	transition: 0.5s box-shadow ease-in;
}

.post table:hover {
	box-shadow: 0 0.25ch 0.3ch -0.25ch black;
}

.post table:active {
	box-shadow: 0 0 2.5ch -5ch black;
}

.post tbody {
	background: #e0e0e0;
}

.post td, .post th {
	border: 1px solid black;
	color: black;
	line-height: 0.875;
	padding: 0.25ch 0.5ch;
}

.post th {
	background: cornFlowerBlue;
	color: white;
	cursor: default;
}

.post th::selection {
}
