* {
	image-rendering: pixelated;
}

body {
	background: #181c20;
	color: #c8c4c0;
	font-family: sans-serif;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	font-variant-numeric: slashed-zero tabular-nums;
	line-height: 1;
}

body, html {
	overflow: hidden;
}

button {
	background: darkGray;
	border: none;
	border-radius: 7.5%;
	box-shadow: 0 0.25ch dimGray, 0 0.25ch 0.5ch -0.125ch black, 0 0 0 transparent inset;
	color: #181c20;
	cursor: pointer;
	font-family: sans-serif;
	font-size: calc(11.5pt + (0.625vmin + 0.625vmax ) / 2);
	line-height: 1.1;
	outline: none;
	padding: 0.25ch;
	transform: translateY(-0.25ch);
	transition-duration: 0.125s;
	transition-property: box-shadow, transform;
	-webkit-user-select: none;
	white-space: pre;
}

button:hover {
	box-shadow: 0 0.4ch dimGray, 0 0.4ch 0.5ch -0.0625ch black, 0 0 0 transparent inset;
	transform: translateY(-0.4ch);
}

button:active {
	box-shadow: 0 0 dimGray, 0 0 0 -0.375ch black, 0 0 0.125ch black inset;
	transform: translateY(0);
}

button:disabled {
	box-shadow: 0 0 transparent, 0 0 0 0 transparent, 0 0 0.25ch black inset;
	transform: translateY(0);
}

button::selection {
}

h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-family: Courier, Courier New, monospace;
	margin: 0.5% 0;
	-webkit-user-select: none;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
	/* Why would you select a heading? That's just silly. */
}

hr {
	background: #ccc4;
	border: none;
	border-radius: 69.420vmax;
	box-shadow: 0.05vh 0.05vw 0.5vmin -0.2vmin black inset;
	height: 0.2vh;
	opacity: 0.75;
}

input {
	border-radius: 420ch;
}

input, textarea {
	-webkit-appearance: none;
	background: #f0f0f0;
	border: none;
	border-radius: 0.25ch;
	box-shadow: 0 0.125ch 1ch black inset;
	color: black;
	font-family: Courier, Courier New, monospace;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	outline: none;
	padding: 0.25ch;
}

input::selection, textarea::selection {
	background: #fc04;
}

::placeholder {
	color: dimGray;
}

.date {
	background: cornFlowerBlue;
	border-radius: 69ch;
	box-shadow: 0 0 0.2ch black inset;
	color: white;
	cursor: default;
	display: inline-block;
	font-family: Courier, Courier New, monospace;
	font-size: 9pt;
	font-variant: small-caps;
	height: 9pt;
	padding: 0 0.6ch;
	text-transform: lowercase;
	vertical-align: middle;
	white-space: pre;
}

.emoji {
	height: 16px;
}

.points::selection {
}

.post {
	background: #2c3038;
	border: none;
	border-radius: 1%;
	box-shadow: 0 0.5vmin 1vmax 0.125vmin #00000080;
	font-family: Courier, Courier New, monospace;
	margin-top: 1ch;
	padding: 1ch;
	padding-top: 0.5ch;
	position: relative;
}

.post, .post * {
	hyphens: auto;
	white-space: pre-wrap;
	word-break: break-word;
	word-wrap: break-word;
}

.post > legend {
	background: #c8c4c0;
	border-radius: 1024pt;
	color: #181c20;
	cursor: default;
	font-family: Georgia, serif;
	font-weight: bold;
	padding: 0 0.5ch;
	white-space: pre-wrap;
}

.post::selection, .post > legend::selection {
	background: papayaWhip;
	color: black;
}

.post > legend > .date {
	-webkit-user-select: none;
}

.post > legend > .date::selection {
}

.vote {
	background: darkGray;
	border-radius: 42069px;
	box-shadow: 0.125ch 0.125ch 0.1ch #fff6 inset, -0.125ch -0.125ch 0.1ch #0006 inset;
	cursor: default;
	font-family: Courier New, Courier, monospace;
	padding: 0.25ch 0.5ch;
	position: absolute;
	right: 1ch;
	text-align: center;
	-webkit-user-select: none;
}

.vote-down, .vote-up {
	bottom: 0.125ch;
	cursor: pointer;
	font-size: 80%;
	padding: 0 1pt;
	position: relative;
	text-shadow: 0 0.125ch black;
	transition: 5s color;
}

.vote-down:hover, .vote-up:hover {
	bottom: 0.25ch;
	text-shadow: 0 0.25ch black;
}

.vote-down:active, .vote-up:active {
	bottom: 0;
	text-shadow: 0 0 black;
}

.vote-down {
	color: red;
}

.vote-up {
	color: lime;
}

#gui {
	background: #484c50;
	bottom: 0;
	box-shadow: 0 0 1vmax 0.5vmin black;
	height: 15.75ch;
	left: 0;
	padding: 0.25ch;
	position: absolute;
	right: 0;
}

#help-button {
	background: white;
	background: radial-gradient(white 50%, transparent 75%), radial-gradient(circle at bottom right, dimGray, white 75%);
	border-radius: 100%;
	color: darkBlue;
	cursor: pointer;
	font-size: 6.25ch;
	font-weight: bold;
	height: 2ch;
	line-height: 125%;
	position: fixed;
	right: -0.4ch;
	text-align: center;
	top: -0.4ch;
	transform: none;
	transition-duration: 1s;
	transition-property: transform;
	-webkit-user-select: none;
	width: 2ch;
}

#help-button:hover {
	transform: scale(1.1);
}

#help-button:active {
	transform: scale(0.9);
	transition-duration: 0.05s;
	transition-timing-function: ease-in;
}

#help-button::selection {
}

#inputtitle, #inputcontent {
	display: block;
	margin: auto;
	padding: 0.5vmin;
	resize: none;
	width: 94vw;
}

#inputcontent {
	height: 36vh;
	max-width: 50ch;
}

#nope {
	color: red;
	font-family: Courier, Courier New, monospace;
}

#padding {
	bottom: 0;
	height: 20ch;
	width: 100%;
}

#post-id {
	display: none;
}

#posts {
	background: #606864;
	border-radius: 2pt;
	bottom: 0;
	box-shadow: 0 0.5vmin 1vmax black inset;
	left: 5pt;
	overflow-y: scroll;
	position: absolute;
	right: 5pt;
	top: 6ch;
}

#writegui {
	background: #484c50;
	border-radius: 1.25%;
	box-shadow: 0 0 5vmax -1vmin black inset;
	height: 96vh;
	left: -2vw;
	opacity: 0.25;
	padding: 3vh 3vw;
	position: absolute;
	top: -2vh;
	transform: translateY(75.75vh) scale(-0.5);
	transition: 1s transform, opacity;
	width: 96vw;
}
