::selection {
	background: papayaWhip;
}

.post * {
	margin: 0;
}

.post a {
	color: cornFlowerBlue;
	transition: 1s color;
}

.post a:active {
	color: steelBlue;
}

.post a:visited {
	color: fuchsia;
}

.post a:visited:active {
	color: brown;
}

.post a:disabled {
	color: rosyBrown;
}

.post blockquote {
	display: inline-block;
	font-weight: light;
	margin-left: 1.25ch;
	position: relative;
}

.post blockquote::selection {
	background-color: #8008;
	color: white;
}

.post blockquote::before {
	background: khaki;
	border-radius: 0.4ch;
	box-shadow: 0 0.25ch 0.5ch black inset;
	color: red;
	content: '“';
	display: inline-block;
	height: 0;
	font-weight: bold;
	font-size: 20pt;
	left: 0;
	line-height: 0;
	position: absolute;
	top: 0;
}

.post blockquote::before::selection {
}

.post code {
	background: lightGray;
	border-radius: 0.25ch;
	box-shadow: 0 0.08ch 0.125ch black inset;
	color: black;
	cursor: copy;
	display: inline-block;
	padding: 0.125ch;
	transition-duration: 1s;
	transition-property: background, color;
}

.post code::selection {
	background: #8008;
	color: white;
}

.post code:hover {
	background: #202020;
	color: lime;
}

.post code:hover::selection, .post code:hover:active {
	background: lime;
	color: #202020;
	cursor: text;
}

.post code:hover:active::selection {
	background: #202020;
	color: lime;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	font-family: Georgia, serif;
}

.post li {
	cursor: copy;
	transition: 1s color;
}

.post li:hover {
	color: white;
}

.post li:active {
	cursor: text;
}

.post table {
	border-collapse: collapse;
	box-shadow: 0 0.2ch 0.25ch -0.2ch black;
	transition: 1s box-shadow;
}

.post table:hover {
	box-shadow: 0 0.25ch 0.3ch -0.25ch black;
}

.post table:active {
	box-shadow: 0 0 2.5ch -5ch black;
}

.post tbody {
	background: #e0e0e0;
}

.post td, .post th {
	border: 1px solid black;
	color: black;
	line-height: 0.875;
	padding: 0.25ch 0.5ch;
}

.post th {
	background: cornFlowerBlue;
	color: white;
	cursor: default;
}

.post th::selection {
}