* {
	image-rendering: pixelated;
}

body {
	background: #303336;
	color: #e8e8e8;
	font-family: sans-serif;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	font-variant-numeric: slashed-zero tabular-nums;
	line-height: 1;
}

body, html {
	overflow: hidden;
}

button {
	background: #e8e8e8;
	border: 1px solid #202224;
	box-shadow: 0 0 0 1px #e8e8e8 inset, 2px 2px #e8e8e8 inset, -2px -2px #202224 inset, 4px 4px #e8e8e8 inset, -3px -3px #202224 inset;
	color: #202224;
	cursor: pointer;
	font-size: calc(11.5pt + (0.625vmin + 0.625vmax ) / 2);
	line-height: 1.1;
	outline: none;
	padding: 4px;
	-webkit-user-select: none;
	white-space: pre;
}

button:active {
	box-shadow: 0 0 0 1px #e8e8e8 inset, -2px -2px #e8e8e8 inset, 2px 2px #202224 inset, -4px -4px #e8e8e8 inset, 3px 3px #202224 inset;
}

button:disabled {
	box-shadow: none;
}

button::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, .points::selection, .post > legend > date::selection, .vote::selection, #help-button::selection {
}

h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-family: Courier, Courier New, monospace;
	margin: 0.5% 0;
	-webkit-user-select: none;
}

hr {
	background: #e8e8e8;
	border: none;
	border-radius: 1px;
	height: 2px;
	opacity: 0.75;
}

input {
	border-radius: 100vmax;
}

input, textarea {
	-webkit-appearance: none;
	background: #f0f0f0;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 white inset, 0 0 navy inset, 5px 0 powderBlue inset, 6px 0 navy inset;
	font-family: Courier, Courier New, monospace;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	outline: none;
	padding: 0 2px 0 12px;
	transition: 0.5s ease-in;
	transition-property: box-shadow, background;
}

input:focus, textarea:focus {
	background: powderBlue;
	box-shadow: 5px 0 white inset, 6px 0 navy inset, 0 0 cornFlowerBlue inset, 0 0 navy inset;
}

input::placeholder, textarea::placeholder {
	color: #202020;
}

.date {
	background: green;
	border-radius: 100vw;
	box-shadow: 1px 1px black inset;
	color: white;
	cursor: default;
	display: inline-block;
	font-family: Courier, Courier New, monospace;
	font-size: 12px;
	font-variant: small-caps;
	height: 12px;
	padding: 0 6px;
	text-transform: lowercase;
	vertical-align: middle;
	white-space: pre;
}

.emoji {
	height: 16px;
}

.post {
	background: #202224;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px #00000080;
	font-family: Courier, Courier New, monospace;
	margin-top: 1ch;
	padding: 1ch;
	padding-top: 0.5ch;
	position: relative;
	transform: translate(-1px, -1px);
}

.post, .post * {
	hyphens: auto;
	white-space: pre-wrap;
	word-break: break-word;
	word-wrap: break-word;
}

.post > legend {
	background: #d4d4d4;
	border-radius: 1024pt;
	color: #202224;
	cursor: default;
	font-family: Georgia, serif;
	font-weight: bold;
	padding: 0 0.5ch;
	white-space: pre-wrap;
}

.post::selection, .post > legend::selection {
	background: papayaWhip;
	color: black;
}

.vote {
	background: dimGray;
	border-radius: 100vw;
	box-shadow: 1px 1px #00000080;
	cursor: default;
	font-family: Courier New, Courier, monospace;
	padding: 2px 4px;
	position: absolute;
	right: 1ch;
	text-align: center;
	-webkit-user-select: none;
}

.vote-down, .vote-up {
	bottom: 0.125ch;
	cursor: pointer;
	font-size: 80%;
	padding: 0 1pt;
	position: relative;
	text-shadow: 0 0.125ch black;
	transition: 5s color;
}

.vote-down:hover, .vote-up:hover {
	text-shadow: 1px black;
	transform: translateY(-1px);
}

.vote-down:active, .vote-up:active {
	text-shadow: 0 0 black;
	transform: none;
}

.vote-down {
	color: red;
}

.vote-up {
	color: lime;
}

#branding-or-whatever {
	margin-bottom: 1.25ch;
}

#gui {
	background: #484c50;
	bottom: 0;
	box-shadow: 0 0 0 1px black, 0 0 0 2px #0004;
	height: 12.5ch;
	left: 0;
	padding: 0.25ch;
	position: absolute;
	right: 0;
}

#help-button {
	background: white;
	color: navy;
	cursor: pointer;
	display: block;
	font-size: 64px;
	font-weight: bold;
	height: 64px;
	position: fixed;
	right: -10px;
	text-align: center;
	top: -10px;
	transform: rotate(0.02turn);
	transition: 0.5s transform ease-in;
	-webkit-user-select: none;
	width: 64px;
}

#help-button:hover {
	transform: rotate(1.02turn);
}

#help-button:active {
	transform: rotate(0.99turn);
	transition: 0.125s transform ease-in;
}

#inputtitle, #inputcontent {
	display: block;
	margin: auto;
	padding: 0.5vmin;
	padding-left: 6px;
	resize: none;
	width: 94vw;
}

#inputcontent {
	height: 36vh;
	max-width: 50ch;
}

#nope {
	color: red;
	font-family: Courier, Courier New, monospace;
}

#padding {
	bottom: 0;
	height: 20ch;
	width: 100%;
}

#post-id {
	display: none;
}

#posts {
	background: #302424;
	border-radius: 1px;
	bottom: 32px;
	box-shadow: 0 1px black inset, 0 2px #0006 inset;
	left: 5pt;
	overflow-y: scroll;
	position: absolute;
	right: 5pt;
	top: 8ch;
}

#writegui {
	background: #484c50;
	box-shadow: 0 0 5vmax -1vmin black inset;
	height: 96vh;
	left: -2vw;
	opacity: 0.25;
	padding: 3vh 3vw;
	position: absolute;
	top: -2vh;
	transform: translateY(75.75vh) scale(-0.5);
	transition: 0.5s transform, opacity ease-out;
	width: 96vw;
}
