::selection {
	background: papayaWhip;
}

::-webkit-scrollbar {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: silver;
	border-radius: 100vw;
}

* {
	image-rendering: pixelated;
}

body {
	background: #303336;
	color: #e8e8e8;
	font-family: sans-serif;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	font-variant-numeric: slashed-zero tabular-nums;
	line-height: 1;
}

body, html {
	overflow: hidden;
}

button {
	background: #e8e8e8;
	border: 1px solid #202224;
	box-shadow: -1.5px -1.5px 0.5px #0008 inset;
	color: #202224;
	cursor: pointer;
	font-size: calc(9pt + (0.5625vmin + 0.5625vmax ) / 2);
	line-height: 1.1;
	min-height: 2.5ch;
	outline: none;
	padding: 1px 3px 3px 1px;
	transition: 0.2s ease-out;
	transition-property: box-shadow, padding;
	-webkit-user-select: none;
	vertical-align: text-bottom;
	white-space: pre;
}

button:active {
	box-shadow: 1.5px 1.5px 0.5px #0008 inset;
	padding: 3px 1px 1px 3px;
	transition: 0.1s ease-in;
}

button:disabled {
	box-shadow: 0 0 black inset;
	margin: 0;
	padding: 4px;
}

button::selection, .points::selection, .post > legend > .date::selection, .vote::selection, #help-button::selection {
	background: none;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
	background: #ffefd53c;
}

h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-family: Courier, Courier New, monospace;
	margin: 0.5% 0;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 225%;
}

h3 {
	font-size: 200%
}

h4 {
	font-size: 175%
}

h5 {
	font-size: 150%
}

h6 {
	font-size: 125%
}

hr {
	background: #e8e8e8;
	border: none;
	border-radius: 1px;
	height: 2px;
	opacity: 0.75;
}

input {
	border-radius: 100vmax;
}

input, textarea {
	-webkit-appearance: none;
	background: #f0f0f0;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 white inset, 0 0 navy inset, 5px 0 powderBlue inset, 6px 0 navy inset;
	font-family: Courier, Courier New, monospace;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
	outline: none;
	padding: 0 2px 0 12px;
	transition: 0.5s ease-in;
	transition-property: box-shadow, background;
}

input:focus, textarea:focus {
	background: powderBlue;
	box-shadow: 5px 0 white inset, 6px 0 navy inset, 0 0 cornFlowerBlue inset, 0 0 navy inset;
}

input::placeholder, textarea::placeholder {
	color: #202020;
}

.date {
	background: green;
	border-radius: 100vw;
	box-shadow: 1px 1px black inset;
	color: white;
	cursor: default;
	display: inline-block;
	font-family: Courier, Courier New, monospace;
	font-size: 12px;
	font-variant: small-caps;
	height: 12px;
	padding: 0 6px;
	text-transform: lowercase;
	vertical-align: middle;
	white-space: pre;
}

.emoji {
	vertical-align: middle;
}

.post {
	background: #202224;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px #00000080;
	font-family: Courier, Courier New, monospace;
	margin-top: 1ch;
	padding: 1ch;
	padding-top: 0.5ch;
	position: relative;
	transform: translate(-1px, -1px);
}

.post, .post * {
	hyphens: auto;
	white-space: pre-wrap;
	word-break: break-word;
	word-wrap: break-word;
}

.post > legend {
	background: #d4d4d4;
	border-radius: 1024pt;
	color: #202224;
	cursor: default;
	font-family: Georgia, serif;
	font-weight: bold;
	padding: 0 0.5ch;
	white-space: pre-wrap;
}

.post::selection, .post > legend::selection {
	background: papayaWhip;
	color: black;
}

.vote {
	background: dimGray;
	border-radius: 100vw;
	box-shadow: 1px 1px #00000080;
	cursor: default;
	font-family: Courier New, Courier, monospace;
	padding: 2px 4px;
	position: absolute;
	right: 1ch;
	text-align: center;
	-webkit-user-select: none;
}

.vote-down, .vote-up {
	bottom: 0.125ch;
	cursor: pointer;
	font-size: 80%;
	padding: 0 1pt;
	position: relative;
	text-shadow: 0 0.125ch black;
	transition: 5s color;
}

.vote-down:hover, .vote-up:hover {
	text-shadow: 1px black;
	transform: translateY(-1px);
}

.vote-down:active, .vote-up:active {
	text-shadow: 0 0 black;
	transform: none;
}

.vote-down {
	color: red;
}

.vote-up {
	color: lime;
}

#branding-or-whatever {
	font-size: 300%;
	margin: 0;
	opacity: 0.75;
}

#branding-or-whatever::selection {
	background: none;
}

#gui {
	background: #484c50;
	bottom: 0;
	box-shadow: 0 0 0 1px black, 0 0 0 2px #0004;
	height: 12.5ch;
	left: 0;
	padding: 0.25ch;
	position: absolute;
	right: 0;
}

#gui-br {
	position: absolute;
	bottom: 1vh;
	right: 1vw;
	-webkit-user-select: none;
}

#gui-br::selection {
	background: none;
}

#gui-br button {
	font-size: 200%;
}

#help-button {
	background: white;
	border-radius: 0.125ch;
	color: navy;
	cursor: pointer;
	display: block;
	font-size: 64px;
	font-weight: bold;
	height: 64px;
	position: fixed;
	right: -6.25px;
	text-align: center;
	top: -6.25px;
	transform: scale(1.125) rotate(0.02turn);
	transition: 0.5s transform ease-out;
	-webkit-user-select: none;
	width: 64px;
	z-index: 9999;
}

#help-button:hover {
	transform: scale(1.25) rotate(1.02turn);
}

#help-button:active {
	transform: scale(0.875) rotate(0.99turn);
	transition: 0.1s transform ease-in;
}

#help {
	background: indigo;
	border: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transform: rotateX(90deg);
	transform-origin: 50% 0;
	transition: 0.75s transform;
	width: 100vw;
	z-index: 9998;
}

#inputtitle, #inputcontent {
	display: block;
	margin: auto;
	padding: 0.5vmin;
	padding-left: 6px;
	resize: none;
	width: 94vw;
}

#inputcontent {
	height: 36vh;
	max-width: 50ch;
}

#nope {
	color: red;
	font-family: Courier, Courier New, monospace;
}

#post-id {
	display: none;
}

#posts {
	background: #302424;
	border-radius: 2px;
	bottom: 14ch;
	box-shadow: 0 1px black inset, 0 2px #0006 inset;
	left: 5pt;
	overflow-y: scroll;
	padding: 2pt;
	position: absolute;
	right: 5pt;
	top: 8ch;
}

#version {
	bottom: 1vh;
	color: white;
	cursor: default;
	font-family: Georgia, Times, sans-serif;
	font-size: 120%;
	left: 1vw;
	opacity: 0.5;
	position: absolute;
	transition: 2s ease-out;
	transition-property: color, opacity;
	-webkit-user-select: none;
}

#version::selection {
	background: none;
}

#writegui {
	background: #484c50;
	box-shadow: 0 0 5vmax -1vmin black inset;
	height: 96vh;
	left: -2vw;
	opacity: 0.875;
	padding: 3vh 3vw;
	position: absolute;
	top: -2vh;
	transform: rotateX(90deg);
	transform-origin: 50% 100%;
	transition: 0.4s transform linear;
	width: 96vw;
	z-index: 10000;
}
