* {
	image-rendering: pixelated;
}

::selection {
	background-color: #00400080;
	color: white;
}

a {
	cursor: default;
}

body {
	color: black;
	font-variant-numeric: slashed-zero tabular-nums;
	line-height: 1;
	margin-bottom: 12ch;
	padding-top: 1ch;
}

code {
	background: #202020;
	border-radius: 0.5ch;
	color: lime;
	display: inline-block;
	padding: 0.5ch 0.25ch 0.125ch;
	white-space: pre-wrap;
}

details {
	margin-left: 2ch;
}

details > summary {
	margin-left: -2ch;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.25% 0;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 225%;
}

h3 {
	font-size: 200%;
}

h4 {
	font-size: 175%;
}

h5 {
	font-size: 150%;
}

h6 {
	font-size: 125%;
}

hr {
	background: black;
	border: 0.25ch solid black;
	border-radius: 50% 100% 100% 50%;
	margin: 2.5% 0;
}

html {
	font-family: Courier, Courier New, monospace;
	font-size: calc(9pt + (0.5vmin + 0.5vmax ) / 2);
}

html.joke-1 {
	box-shadow: 0 -28ch 12ch -8ch black inset, 0 -24ch #00000020 inset;
}

html:not(.nobackground) {
	background: #d8dce0;
	background: radial-gradient(circle at 20% 80%, darkSeaGreen 2.5%, transparent 2.5%), radial-gradient(circle at 95% 95%, cornFlowerBlue 12.5%, transparent 12.5%), #d8dce0;
	padding-bottom: 16ch;
}

iframe.article-embed {
	background: none;
	border: none;
	border-radius: 0.2ch;
	box-shadow: 0 0.25ch 0.5ch -0.1ch black inset;
	height: 32ch;
	margin: 0;
	padding: 0;
	width: 100%;
}

p {
	max-width: 66%;
	text-indentation: 2ch;
}

summary, #table-of-contents a, .selectnt, .selectnt * {
	cursor: default;
	-webkit-user-select: none;
}

summary::selection, #table-of-contents a::selection, .selectnt::selection, .selectnt *::selection {
}

table {
	border-collapse: collapse;
	box-shadow: 0 0.2ch 0.25ch -0.2ch black;
	transition: 1s box-shadow;
}

table:hover {
	box-shadow: 0 0.25ch 0.3ch -0.25ch black;
}

table:active {
	box-shadow: 0 0 2.5ch -5ch black;
}

tbody {
	background: #e0e0e0;
}

td, th {
	border: 1px solid black;
	line-height: 0.875;
	padding: 0.25ch 0.5ch;
}

th {
	background: cornFlowerBlue;
	color: white;
	cursor: default;
}

th::selection {
}

#bar {
	background: white;
	box-shadow: 0 0 0.75ch black;
	color: gray;
	left: 0;
	min-height: 2.5ch;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.25s box-shadow;
}

#bar:hover {
	box-shadow: 0 0 1ch black;
}

#bar:active {
	box-shadow: 0 0 0.5ch black;
}


#joke-1 {
	background: black;
	box-shadow: 0 0 6.5ch 3.5ch black;
	bottom: 0;
	height: 0;
	left: 0;
	position: fixed;
	right: 0;
	transition: 0.4s height ease-in;
	transform: translateY(10ch);
}
